
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: rgb(211, 66, 66);
}

.numbers{
    display: flex;
    align-items: center;
}

.num1{
    font-size: 20px;
}


.all{
    width: 70%;
    margin: auto;
}


.firstrow{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    max-width: 100%;
}

#select{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
   
   
    
   
}

.select{
    background-color: white;
    width: 100%;
    padding-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
    border-radius: 18px;
    cursor: pointer;
   
}

/*
.select{
    background-color: white;
    padding: 5px;
    width: 350px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
    border-radius: 18px;
    position: relative;
  
}

.select select{
    height: 35px;
    padding: 8px;
    line-height: 15px;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 18px;
    background-color: white;
}

.select:after{
    content: "";
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -4px;
    border-top: 6px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;


}
.select select {
    font-style: italic;
    font-weight: 600;
}
*/


.secondrow1, .secondrow2, .thirdrow1, .thirdrow2{
    width: 50%;
}




.secondrow, .thirdrow{
    max-width: 100%;
    display: flex;
    gap: 15px;

}

.secondrowbox1{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    gap: 20px;
    height: 310px;
}

.userboxrow1, .userboxrow2{
    display: flex;
    gap: 8px;
    max-width: 100%;
    
   
}


.usersbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
}


.img{
    max-width: 100%;
 
 }
 
.usersbox p{
    font-size: 14px;
}

.prog{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 100%;
   padding-top: 8px;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 0px;
 
}

.secondrowbox2{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
    border-radius: 20px;
    max-width: 100%;
    height: 310px;
  
    
}

.headerselect{
    background: none;
    border: none;
    outline: none;
}

.hr{
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 0px;
  
  
}


/*
.cont{
    height: 200px;
    width: 10px;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 20px;
    height:20%;
    width: 10px;
    background-color: #52a5f3;
  }
  */

  .imgframe{
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
 
    
  }


  .month{
    display: flex;  
    gap: 8px;
  }

  .peopleinfo1{
    display: flex;
    flex-direction: column;
    
  }

  .peopleinfo2{
    display: flex;
    gap: 10px;
  }

  .peopleinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
  }

  .thirdrowbox1, .thirdrowbox2{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
    height: 570px;
    border-radius: 20px;
    
  }

  .emplo{
    padding-left: 20px;
    padding-top: 25px;
    color: gray;

  }
  .people{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
  }
  

  .peopleinfo1 span{
    font-size: 15px;
  }

  @media screen and (max-width:1300px) {

    

    .img{
        width: 80%;
    }

    .num1{
        font-size: 17px;
    }

    .secondrow, .thirdrow{
        gap: 8px;
    }

    .usersbox{
        padding: 8px;
        
        
    }
    .peopleinfo1  span{
        font-size: 12px;

    }

    #select span{
        font-size: 13px;
    }

    .userboxrow1, .userboxrow2{
        gap: 5px;
    }

    .peopleinfo2  span img{
        width: 8px;

    }

    .people span img{
        width: 18px;
    }

    
  }